<a href="https://colab.research.google.com/github/KodumuruRaja/Bayesian-Algorithms/blob/main/Bayesian-Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pgmpy

Requirement already satisfied: pgmpy in /usr/local/lib/python3.7/dist-packages (0.1.13)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from pgmpy) (2.4.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pgmpy) (1.1.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pgmpy) (1.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from pgmpy) (1.0.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from pgmpy) (2.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from pgmpy) (4.41.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pgmpy) (1.19.5)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (from pgmpy) (1.7.0+cu101)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from pgmpy) (0.22.2.post1)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from pgmpy) (0.10.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pgmpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pgmpy) (2.8.1)
Requirement already satisfied: decorator>=4.3.0 in /usr/local/lib/python3.7/dist-packages (from networkx->pgmpy) (4.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch->pgmpy) (3.7.4.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from torch->pgmpy) (0.16.0)
Requirement already satisfied: dataclasses in /usr/local/lib/python3.7/dist-packages (from torch->pgmpy) (0.6)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->pgmpy) (0.5.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pgmpy) (1.15.0)

In [ ]:
import pandas as pd
from urllib.request import urlopen
from pgmpy.models import BayesianModel

In [ ]:
names="A,B,C,D,E,F,G,H,I,J,K,L,M,RESULT"
names=names.split(",")
st="age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num"
st=st.split(",")

In [ ]:
data=pd.read_csv(urlopen("http://bit.do/heart-disease"),names=names)

In [ ]:
data.head()

      A    B    C      D      E    F  ...    I    J    K    L    M RESULT
0  63.0  1.0  1.0  145.0  233.0  1.0  ...  0.0  2.3  3.0  0.0  6.0      0
1  67.0  1.0  4.0  160.0  286.0  0.0  ...  1.0  1.5  2.0  3.0  3.0      2
2  67.0  1.0  4.0  120.0  229.0  0.0  ...  1.0  2.6  2.0  2.0  7.0      1
3  37.0  1.0  3.0  130.0  250.0  0.0  ...  0.0  3.5  3.0  0.0  3.0      0
4  41.0  0.0  2.0  130.0  204.0  0.0  ...  0.0  1.4  1.0  0.0  3.0      0

[5 rows x 14 columns]

In [ ]:
model=BayesianModel([("A","B"),("B","C"),("C","RESULT")])
model.fit(data)

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from pgmpy.inference import VariableElimination
infer=VariableElimination(model)
q=infer.query(variables=["RESULT"],evidence={"A":22})

/usr/local/lib/python3.7/dist-packages/pgmpy/factors/discrete/DiscreteFactor.py:519: UserWarning: Found unknown state name. Trying to switch to using all state names as state numbers
  "Found unknown state name. Trying to switch to using all state names as state numbers"
Finding Elimination Order: : 100%|██████████| 2/2 [00:00<00:00, 1154.18it/s]
Eliminating: C: 100%|██████████| 2/2 [00:00<00:00, 427.58it/s]

In [ ]:
print(q)

+-----------+---------------+
| RESULT    |   phi(RESULT) |
+===========+===============+
| RESULT(0) |        0.5387 |
+-----------+---------------+
| RESULT(1) |        0.1824 |
+-----------+---------------+
| RESULT(2) |        0.1196 |
+-----------+---------------+
| RESULT(3) |        0.1161 |
+-----------+---------------+
| RESULT(4) |        0.0433 |
+-----------+---------------+